<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="beacon">
            <h2><span jhiTranslate="museuDashboardApp.beacon.detail.title">Beacon</span> {{ beacon.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="museuDashboardApp.beacon.contentName">Content Name</span></dt>
                <dd>
                    <span>{{ beacon.contentName }}</span>
                </dd>
                <dt><span jhiTranslate="museuDashboardApp.beacon.contentType">Content Type</span></dt>
                <dd>
                    <span>{{ beacon.contentType }}</span>
                </dd>
                <dt><span jhiTranslate="museuDashboardApp.beacon.content">Content</span></dt>
                <dd>
                    <span>{{ beacon.content }}</span>
                </dd>
                <dt><span jhiTranslate="museuDashboardApp.beacon.contentDescription">Content Description</span></dt>
                <dd>
                    <span>{{ beacon.contentDescription }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/beacon', beacon.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
